<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Don't rewrite if the request is for a real file
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]

  # Don't rewrite if the request is for a real directory
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Rewrite all other requests to index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>
